* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
    font-family: 'Inter',sans-serif; 
    color: black;   
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #ff8c00,#8a42ff,#0f0);
    flex-direction: column;    
}
h1{
    font-style: oblique;
    color: azure;
    padding: 20px;
    font-size: 75px;
    font-weight: 600;
}
p{
    font-style: oblique;
    color: azure;
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
}

a{
    font-style: oblique;
    color: azure;
    padding: 20px;
    font-size: 55px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}
button{
    width: 30%;
    margin-top: 2.5rem;
    border: none;
    background-color: #8a42ff;
    color: #fff;
    padding: 0.62rem;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: #ff8c00;
}